{% extends 'base.html.twig' %}


{% block title %}Hello ConnexionController!{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}







<div class="con">

    {{ form_start(form) }}
    <h3>Entrez votre login et password!</h3>
    <div class="login-container">

    {{ form_row(form.login) }}
        {{ form_row(form.password) }}
    </div>

    <div class="login-buttons">
        {{ form_row(form.reset) }}
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
        </div>



{% endblock %}
