{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h3>Résultats de la recherche</h3>

        {% if users is empty %}
            <div class="alert alert-warning" role="alert">
                Aucun résultat trouvé pour votre recherche.
            </div>
        {% else %}
            <div class="row">
                {% for user in users %}
                    <div class="col-md-4 mb-4">
                        <div class="card border-info mb-3" style="max-width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ user.nom }} {{ user.prenom }}</h5>
                                <p class="card-text" style="color: #555555;">
                                    Bureau: {{ user.bureau.numBureau }}<br>
                                    Statut: {{ user.statut.name }}<br>
                                    Addr: {{ user.mail }}<br>
                                    Téléphone: {{ user.telephone }}<br>
                                   {#  <strong>Date de sortie:</strong> {{ user.dateStart|date('d-m-Y') }} #}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

