{% extends 'base.html.twig' %}

{% block title %}Liste personnel {% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col-md-12">
                <form method="post" action="{{ path('app_listUser') }}" class="d-flex justify-content-end align-items-center">
                    <div class="form-group me-2">
                        <label for="filterType">Type de filtre</label>
                        <select id="filterType" name="filterType" class="form-control" required>
                            <option value="" selected disabled>Sélectionnez une option</option>
                            <option value="personnes" {% if filterType == 'personnes' %}selected{% endif %}>Personnes</option>
                            <option value="bureauPersonne" {% if filterType == 'bureauPersonne' %}selected{% endif %}>Bureau </option>
                            {% if app.user !=null%}
                            <option value="dateEndPersonne" {% if filterType == 'dateEndPersonne' %}selected{% endif %}>Date End </option>
                            {%endif %}
                        </select>
                    </div>
                    <div class="form-group me-2">
                        <label for="orderBy">Trier par</label>
                        <select id="orderBy" name="orderBy" class="form-control" required>
                            <option value="" selected disabled>Sélectionnez une option</option>
                            <option value="ASC" {% if orderBy == 'ASC' %}selected{% endif %}>A-Z</option>
                            <option value="DESC" {% if orderBy == 'DESC' %}selected{% endif %}>Z-A</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Filtrer</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container-fluid">
            {% if error %}
                <div class="alert alert-danger mt-3">
                    {{ error }}
                </div>
            {% endif %}

            {% if filterType == 'bureauPersonne' %}
                {% for bureau, person in personnes %}
                    <h3>{{ bureau }}</h3>
                    <table class="table table-striped">
                        <thead class="table-secondary">
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Numéro</th>
                            {% if app.user  %}
                                <th scope="col" class="text-center" style="width: 150px;"></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for pers in person %}
                            <tr>
                                <td style="color: #555555;">{{ pers.nom }} {{ pers.prenom }}</td>
                                <td style="color: #555555;">{{ pers.mail }}</td>
                                <td style="color: #2563EB;">{{ pers.telephone }}</td>
                                {% if app.user  %}
                                    <td>
                                        <a href="{{ path('admin_edit_personnel', {'id': pers.id}) }}" class="btn btn-outline-success"><i class="fas fa-edit"></i></a>
                                        <span class="ml-3"></span>
                                        <form action="#" method="post" onsubmit="return confirm('Voulez vous supprimer ?');" style="display: inline;">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pers.id) }}">
                                            <button type="submit" class="btn btn-outline-danger">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endfor %}
            {% else %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Bureau</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Numéro</th>
                        {% if app.user != null %}
                          <th scope="col">Date de sortie</th>
                        {% endif %}
                        {% if app.user  %}
                            <th scope="col" class="text-center" style="width: 150px;"></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for pers in personnes %}
                        <tr>
                            <td style="color: #555555;">{{ pers.nom }} {{ pers.prenom }}</td>
                            <td style="color: #555555;">{{ pers.bureau.numBureau }}</td>
                            <td style="color: #555555;">{{ pers.mail }} </td>
                            <td style="color: #2563EB;">{{ pers.telephone }} </td>
                             {% if app.user  %}
                            <td style="color: #2563EB;">{{ pers.dateEnd | date('d-m-Y') }} </td>
                             {% endif %}
                            {% if app.user  %}
                                <td>
                                    <a href="{{ path('admin_edit_personnel', {'id': pers.id}) }}" class="btn btn-outline-success"><i class="fas fa-edit"></i></a>
                                    <span class="ml-3"></span>
                                    <form action="{{ path('admin_delete_personnel',{'id': pers.id})}}" method="post" onsubmit="return confirm('Voulez vous supprimer ?');" style="display: inline;">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pers.id) }}">
                                        <button type="submit" class="btn btn-outline-danger">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

    </div>
{% endblock %}
