<header class="bg-dark py-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a href="{{ path('app_accueil', ) }}">
                    <img src="{{ asset('images/ua2.png') }}" alt="Logo de l'université" class="navbar-brand" style="max-height: 100px;">
                </a>
                <a href="{{ path('app_listUser') }}" class="nav-link active text-white {{ app.request.attributes.get('_route') == 'app_listUser' ? 'disabled' : '' }}" >
                    List Personnels
                </a>
                <a href="{{ path('app_accueil') }}" class="nav-link active text-white {{ app.request.attributes.get('_route') == 'app_accueil' ? 'disabled' : '' }}">
                    Accueil
                </a>
                <div class="d-flex align-items-center">
                    <form class="d-flex" role="search" action="{{ path('app_search') }}" method="get">
                        <input class="form-control me-2" type="text" name="search" placeholder="Rechercher..." value="{{ app.request.query.get('search') }}" style="width: 200px;">
                        <button class="btn btn-outline-primary" type="submit">Rechercher</button>
                    </form>
                    <ul class="navbar-nav ms-3">
                        <li class="nav-item">
                            <a href="{{ path( app.user != null ? 'app_logout' : 'app_login' ) }}" class="nav-link active text-white">
                                {{ app.user != null ? 'Déconnexion' : 'Connexion' }}
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
