
<header class="bg-dark py-3">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-4 d-flex align-items-center">
                <a href="{{ path('app_accueil', ) }}"><img src="{{ asset('images/ua2.png') }}" alt="Logo de l'université" class="img-fluid mr-md-4" style="max-height: 100px;"></a>
                <a href="{{ path( app.user != null ? 'app_logout' : 'app_login' ) }}" class="btn btn-outline-light">{{ app.user != null ? 'Déconnexion' : 'Connexion' }}</a>
            </div>
            <div class="col-md-5">
                <form class="form-inline" action="{{ path('app_search') }}" method="get">
                    <input class="form-control mr-2" type="text" name="search" placeholder="Rechercher..." value="{{ app.request.query.get('search') }}">
                    <button class="btn btn-outline-primary" type="submit"> Rechercher</button>
                </form>
            </div>
            <div class="col-md-3 text-right">

                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Menu</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('app_listUser') }}">Liste Personnels</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
